In [10]:
import pandas as pd

In [9]:
pip install pandas

Requirement already satisfied: pandas in c:\users\usuario\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\usuario\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\usuario\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\usuario\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\usuario\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\usuario\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\users\usuario\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\usuario\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\usuario\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\usuario\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\usuario\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\usuario\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

In [13]:
df = pd.read_csv("poblacion.csv")
print(df)
df.to_csv("archivo.csv")

    Date     ABW       AFG       AGO      ALB    AND        ARB      ARE  \
0   1960   54608   8622466   5357195  1608800   9443   93359407   133426
1   1961   55811   8790140   5441333  1659800  10216   95760348   140984
2   1962   56682   8969047   5521400  1711319  11014   98268683   148877
3   1963   57475   9157465   5599827  1762621  11839  100892507   157006
4   1964   58178   9355514   5673199  1814135  12690  103618568   165305
..   ...     ...       ...       ...      ...    ...        ...      ...
59  2019  106442  37769499  32353588  2854191  76343  441467739  9211657
60  2020  106585  38972230  33428486  2837849  77700  449228296  9287289
61  2021  106537  40099462  34503774  2811666  79034  456520777  9365145
62  2022  106445  41128771  35588987  2777689  79824  464684914  9441129
63  2023  106277  42239854  36684202  2745972  80088  473272080  9516871

         ARG      ARM  ...     VIR       VNM     VUT         WLD     WSM  \
0   20349744  1904148  ...   32500  32718461   64608  3031517384  113335
1   20680653  1971530  ...   34300  33621982   66462  3072470012  116820
2   21020359  2039346  ...   35000  34533889   68391  3126894230  120163
3   21364017  2106142  ...   39800  35526727   70400  3193470069  123416
4   21708487  2171029  ...   40800  36509166   72493  3260479625  126582
..       ...      ...  ...     ...       ...     ...         ...     ...
59  44938712  2820602  ...  106669  95776716  304404  7742724795  211905
60  45376763  2805608  ...  106290  96648685  311685  7821271846  214929
61  45808747  2790974  ...  105870  97468029  319137  7888963821  218764
62  46234830  2780469  ...  105413  98186856  326740  7951595433  222382
63  46654581  2777970  ...  104917  98858950  334506  8024997028  225681

        XKX       YEM       ZAF       ZMB       ZWE
0    990150   5542459  16520441   3119430   3806310
1   1014211   5646668  16989464   3219451   3925952
2   1038618   5753386  17503133   3323427   4049778
3   1063175   5860197  18042215   3431381   4177931
4   1087700   5973803  18603097   3542764   4310332
..      ...       ...       ...       ...       ...
59  1788878  31546691  58087055  18380477  15354608
60  1790133  32284046  58801927  18927715  15669666
61  1786038  32981641  59392255  19473125  15993524
62  1768086  33696614  59893885  20017675  16320537
63  1756374  34449825  60414495  20569737  16665409

[64 rows x 264 columns]

In [15]:
df = pd.read_csv("poblacion.csv")
df.to_csv("archivo.csv")

In [16]:
df = pd.read_csv("poblacion.csv")

In [17]:
df = pd.read_csv("poblacion.csv")
print(df)

    Date     ABW       AFG       AGO      ALB    AND        ARB      ARE  \
0   1960   54608   8622466   5357195  1608800   9443   93359407   133426
1   1961   55811   8790140   5441333  1659800  10216   95760348   140984
2   1962   56682   8969047   5521400  1711319  11014   98268683   148877
3   1963   57475   9157465   5599827  1762621  11839  100892507   157006
4   1964   58178   9355514   5673199  1814135  12690  103618568   165305
..   ...     ...       ...       ...      ...    ...        ...      ...
59  2019  106442  37769499  32353588  2854191  76343  441467739  9211657
60  2020  106585  38972230  33428486  2837849  77700  449228296  9287289
61  2021  106537  40099462  34503774  2811666  79034  456520777  9365145
62  2022  106445  41128771  35588987  2777689  79824  464684914  9441129
63  2023  106277  42239854  36684202  2745972  80088  473272080  9516871

         ARG      ARM  ...     VIR       VNM     VUT         WLD     WSM  \
0   20349744  1904148  ...   32500  32718461   64608  3031517384  113335
1   20680653  1971530  ...   34300  33621982   66462  3072470012  116820
2   21020359  2039346  ...   35000  34533889   68391  3126894230  120163
3   21364017  2106142  ...   39800  35526727   70400  3193470069  123416
4   21708487  2171029  ...   40800  36509166   72493  3260479625  126582
..       ...      ...  ...     ...       ...     ...         ...     ...
59  44938712  2820602  ...  106669  95776716  304404  7742724795  211905
60  45376763  2805608  ...  106290  96648685  311685  7821271846  214929
61  45808747  2790974  ...  105870  97468029  319137  7888963821  218764
62  46234830  2780469  ...  105413  98186856  326740  7951595433  222382
63  46654581  2777970  ...  104917  98858950  334506  8024997028  225681

        XKX       YEM       ZAF       ZMB       ZWE
0    990150   5542459  16520441   3119430   3806310
1   1014211   5646668  16989464   3219451   3925952
2   1038618   5753386  17503133   3323427   4049778
3   1063175   5860197  18042215   3431381   4177931
4   1087700   5973803  18603097   3542764   4310332
..      ...       ...       ...       ...       ...
59  1788878  31546691  58087055  18380477  15354608
60  1790133  32284046  58801927  18927715  15669666
61  1786038  32981641  59392255  19473125  15993524
62  1768086  33696614  59893885  20017675  16320537
63  1756374  34449825  60414495  20569737  16665409

[64 rows x 264 columns]

In [18]:
print(df)
df.to_csv("archivo.csv")

    Date     ABW       AFG       AGO      ALB    AND        ARB      ARE  \
0   1960   54608   8622466   5357195  1608800   9443   93359407   133426
1   1961   55811   8790140   5441333  1659800  10216   95760348   140984
2   1962   56682   8969047   5521400  1711319  11014   98268683   148877
3   1963   57475   9157465   5599827  1762621  11839  100892507   157006
4   1964   58178   9355514   5673199  1814135  12690  103618568   165305
..   ...     ...       ...       ...      ...    ...        ...      ...
59  2019  106442  37769499  32353588  2854191  76343  441467739  9211657
60  2020  106585  38972230  33428486  2837849  77700  449228296  9287289
61  2021  106537  40099462  34503774  2811666  79034  456520777  9365145
62  2022  106445  41128771  35588987  2777689  79824  464684914  9441129
63  2023  106277  42239854  36684202  2745972  80088  473272080  9516871

         ARG      ARM  ...     VIR       VNM     VUT         WLD     WSM  \
0   20349744  1904148  ...   32500  32718461   64608  3031517384  113335
1   20680653  1971530  ...   34300  33621982   66462  3072470012  116820
2   21020359  2039346  ...   35000  34533889   68391  3126894230  120163
3   21364017  2106142  ...   39800  35526727   70400  3193470069  123416
4   21708487  2171029  ...   40800  36509166   72493  3260479625  126582
..       ...      ...  ...     ...       ...     ...         ...     ...
59  44938712  2820602  ...  106669  95776716  304404  7742724795  211905
60  45376763  2805608  ...  106290  96648685  311685  7821271846  214929
61  45808747  2790974  ...  105870  97468029  319137  7888963821  218764
62  46234830  2780469  ...  105413  98186856  326740  7951595433  222382
63  46654581  2777970  ...  104917  98858950  334506  8024997028  225681

        XKX       YEM       ZAF       ZMB       ZWE
0    990150   5542459  16520441   3119430   3806310
1   1014211   5646668  16989464   3219451   3925952
2   1038618   5753386  17503133   3323427   4049778
3   1063175   5860197  18042215   3431381   4177931
4   1087700   5973803  18603097   3542764   4310332
..      ...       ...       ...       ...       ...
59  1788878  31546691  58087055  18380477  15354608
60  1790133  32284046  58801927  18927715  15669666
61  1786038  32981641  59392255  19473125  15993524
62  1768086  33696614  59893885  20017675  16320537
63  1756374  34449825  60414495  20569737  16665409

[64 rows x 264 columns]

In [19]:
df = pd.read_csv("poblacion.csv")
print(df)
df.to_csv("archivo.csv")

    Date     ABW       AFG       AGO      ALB    AND        ARB      ARE  \
0   1960   54608   8622466   5357195  1608800   9443   93359407   133426
1   1961   55811   8790140   5441333  1659800  10216   95760348   140984
2   1962   56682   8969047   5521400  1711319  11014   98268683   148877
3   1963   57475   9157465   5599827  1762621  11839  100892507   157006
4   1964   58178   9355514   5673199  1814135  12690  103618568   165305
..   ...     ...       ...       ...      ...    ...        ...      ...
59  2019  106442  37769499  32353588  2854191  76343  441467739  9211657
60  2020  106585  38972230  33428486  2837849  77700  449228296  9287289
61  2021  106537  40099462  34503774  2811666  79034  456520777  9365145
62  2022  106445  41128771  35588987  2777689  79824  464684914  9441129
63  2023  106277  42239854  36684202  2745972  80088  473272080  9516871

         ARG      ARM  ...     VIR       VNM     VUT         WLD     WSM  \
0   20349744  1904148  ...   32500  32718461   64608  3031517384  113335
1   20680653  1971530  ...   34300  33621982   66462  3072470012  116820
2   21020359  2039346  ...   35000  34533889   68391  3126894230  120163
3   21364017  2106142  ...   39800  35526727   70400  3193470069  123416
4   21708487  2171029  ...   40800  36509166   72493  3260479625  126582
..       ...      ...  ...     ...       ...     ...         ...     ...
59  44938712  2820602  ...  106669  95776716  304404  7742724795  211905
60  45376763  2805608  ...  106290  96648685  311685  7821271846  214929
61  45808747  2790974  ...  105870  97468029  319137  7888963821  218764
62  46234830  2780469  ...  105413  98186856  326740  7951595433  222382
63  46654581  2777970  ...  104917  98858950  334506  8024997028  225681

        XKX       YEM       ZAF       ZMB       ZWE
0    990150   5542459  16520441   3119430   3806310
1   1014211   5646668  16989464   3219451   3925952
2   1038618   5753386  17503133   3323427   4049778
3   1063175   5860197  18042215   3431381   4177931
4   1087700   5973803  18603097   3542764   4310332
..      ...       ...       ...       ...       ...
59  1788878  31546691  58087055  18380477  15354608
60  1790133  32284046  58801927  18927715  15669666
61  1786038  32981641  59392255  19473125  15993524
62  1768086  33696614  59893885  20017675  16320537
63  1756374  34449825  60414495  20569737  16665409

[64 rows x 264 columns]

In [20]:
df.head()

,Date,ABW,AFG,AGO,ALB,AND,ARB,ARE,ARG,ARM,...,VIR,VNM,VUT,WLD,WSM,XKX,YEM,ZAF,ZMB,ZWE
0,1960,54608,8622466,5357195,1608800,9443,93359407,133426,20349744,1904148,...,32500,32718461,64608,3031517384,113335,990150,5542459,16520441,3119430,3806310
1,1961,55811,8790140,5441333,1659800,10216,95760348,140984,20680653,1971530,...,34300,33621982,66462,3072470012,116820,1014211,5646668,16989464,3219451,3925952
2,1962,56682,8969047,5521400,1711319,11014,98268683,148877,21020359,2039346,...,35000,34533889,68391,3126894230,120163,1038618,5753386,17503133,3323427,4049778
3,1963,57475,9157465,5599827,1762621,11839,100892507,157006,21364017,2106142,...,39800,35526727,70400,3193470069,123416,1063175,5860197,18042215,3431381,4177931
4,1964,58178,9355514,5673199,1814135,12690,103618568,165305,21708487,2171029,...,40800,36509166,72493,3260479625,126582,1087700,5973803,18603097,3542764,4310332

In [21]:
df.tail()

,Date,ABW,AFG,AGO,ALB,AND,ARB,ARE,ARG,ARM,...,VIR,VNM,VUT,WLD,WSM,XKX,YEM,ZAF,ZMB,ZWE
59,2019,106442,37769499,32353588,2854191,76343,441467739,9211657,44938712,2820602,...,106669,95776716,304404,7742724795,211905,1788878,31546691,58087055,18380477,15354608
60,2020,106585,38972230,33428486,2837849,77700,449228296,9287289,45376763,2805608,...,106290,96648685,311685,7821271846,214929,1790133,32284046,58801927,18927715,15669666
61,2021,106537,40099462,34503774,2811666,79034,456520777,9365145,45808747,2790974,...,105870,97468029,319137,7888963821,218764,1786038,32981641,59392255,19473125,15993524
62,2022,106445,41128771,35588987,2777689,79824,464684914,9441129,46234830,2780469,...,105413,98186856,326740,7951595433,222382,1768086,33696614,59893885,20017675,16320537
63,2023,106277,42239854,36684202,2745972,80088,473272080,9516871,46654581,2777970,...,104917,98858950,334506,8024997028,225681,1756374,34449825,60414495,20569737,16665409

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Columns: 264 entries, Date to ZWE
dtypes: float64(1), int64(263)
memory usage: 132.1 KB

In [23]:
df.describe()

,Date,ABW,AFG,AGO,ALB,AND,ARB,ARE,ARG,ARM,...,VIR,VNM,VUT,WLD,WSM,XKX,YEM,ZAF,ZMB,ZWE
count,64.000000,64.000000,6.400000e+01,6.400000e+01,6.400000e+01,64.000000,6.400000e+01,6.400000e+01,6.400000e+01,6.400000e+01,...,64.000000,6.400000e+01,64.000000,6.400000e+01,64.000000,6.400000e+01,6.400000e+01,6.400000e+01,6.400000e+01,6.400000e+01
mean,1991.500000,77906.500000,1.878244e+07,1.518896e+07,2.713609e+06,50480.640625,2.496709e+08,3.434974e+06,3.320280e+07,2.927306e+06,...,93075.031250,6.704700e+07,170927.000000,5.448623e+09,172193.093750,1.664839e+06,1.612413e+07,3.894634e+07,9.235383e+06,9.776680e+06
std,18.618987,18820.577039,1.021302e+07,9.225153e+06,4.651967e+05,23814.116053,1.152828e+08,3.391363e+06,7.940452e+06,4.015094e+05,...,23416.040042,2.073384e+07,78318.138071,1.523352e+09,27282.509868,3.215785e+05,8.894528e+06,1.370458e+07,5.003661e+06,3.756865e+06
min,1960.000000,54608.000000,8.622466e+06,5.357195e+06,1.608800e+06,9443.000000,9.335941e+07,1.334260e+05,2.034974e+07,1.904148e+06,...,32500.000000,3.271846e+07,64608.000000,3.031517e+09,113335.000000,9.901500e+05,5.542459e+06,1.652044e+07,3.119430e+06,3.806310e+06
25%,1975.750000,61073.500000,1.050779e+07,7.208263e+06,2.445102e+06,28880.500000,1.455507e+08,5.964812e+05,2.618658e+07,2.779844e+06,...,94163.750000,4.786508e+07,104508.250000,4.124867e+09,157417.750000,1.434342e+06,8.035153e+06,2.630472e+07,5.042566e+06,6.240561e+06
50%,1991.500000,69028.000000,1.296262e+07,1.243060e+07,2.878402e+06,56358.500000,2.337177e+08,2.062307e+06,3.333702e+07,2.964910e+06,...,104862.000000,6.907378e+07,156627.500000,5.426456e+09,169250.000000,1.789506e+06,1.416481e+07,4.133586e+07,7.977402e+06,1.050966e+07
75%,2007.250000,97089.250000,2.603428e+07,2.110514e+07,3.042464e+06,71652.250000,3.397813e+08,6.151639e+06,3.997553e+07,3.214095e+06,...,108118.250000,8.497101e+07,229746.750000,6.738543e+09,190805.250000,1.834036e+06,2.281340e+07,5.013852e+07,1.251480e+07,1.247551e+07
max,2023.000000,106585.000000,4.223985e+07,3.668420e+07,3.286542e+06,80221.000000,4.732721e+08,9.516871e+06,4.665458e+07,3.617631e+06,...,108642.000000,9.885895e+07,334506.000000,8.024997e+09,225681.000000,2.204865e+06,3.444982e+07,6.041450e+07,2.056974e+07,1.666541e+07

In [24]:
df["ABW"]

0      54608
1      55811
2      56682
3      57475
4      58178
       ...
59    106442
60    106585
61    106537
62    106445
63    106277
Name: ABW, Length: 64, dtype: int64

In [26]:
df["ALB"]

0     1608800
1     1659800
2     1711319
3     1762621
4     1814135
       ...
59    2854191
60    2837849
61    2811666
62    2777689
63    2745972
Name: ALB, Length: 64, dtype: int64

In [28]:
df.groupby("ALB").mean()

,Date,ABW,AFG,AGO,AND,ARB,ARE,ARG,ARM,ASM,...,VIR,VNM,VUT,WLD,WSM,XKX,YEM,ZAF,ZMB,ZWE
ALB,,,,,,,,,,,,,,,,,,,,,
1608800,1960.0,54608.0,8622466.0,5357195.0,9443.0,93359407.0,133426.0,20349744.0,1904148.0,20085.0,...,32500.0,32718461.0,64608.0,3.031517e+09,113335.0,990150.0,5542459.0,16520441.0,3119430.0,3806310.0
1659800,1961.0,55811.0,8790140.0,5441333.0,10216.0,95760348.0,140984.0,20680653.0,1971530.0,20626.0,...,34300.0,33621982.0,66462.0,3.072470e+09,116820.0,1014211.0,5646668.0,16989464.0,3219451.0,3925952.0
1711319,1962.0,56682.0,8969047.0,5521400.0,11014.0,98268683.0,148877.0,21020359.0,2039346.0,21272.0,...,35000.0,34533889.0,68391.0,3.126894e+09,120163.0,1038618.0,5753386.0,17503133.0,3323427.0,4049778.0
1762621,1963.0,57475.0,9157465.0,5599827.0,11839.0,100892507.0,157006.0,21364017.0,2106142.0,21949.0,...,39800.0,35526727.0,70400.0,3.193470e+09,123416.0,1063175.0,5860197.0,18042215.0,3431381.0,4177931.0
1814135,1964.0,58178.0,9355514.0,5673199.0,12690.0,103618568.0,165305.0,21708487.0,2171029.0,22656.0,...,40800.0,36509166.0,72493.0,3.260480e+09,126582.0,1087700.0,5973803.0,18603097.0,3542764.0,4310332.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3227287,1993.0,72360.0,14003760.0,13038270.0,59156.0,242994250.0,2223284.0,34027240.0,3457349.0,51174.0,...,106578.0,71176405.0,162548.0,5.556732e+09,171362.0,2073990.0,14988047.0,42525440.0,8270917.0,10794918.0
3227943,1989.0,64596.0,10673168.0,11439498.0,51639.0,219021375.0,1791840.0,32165766.0,3448186.0,46288.0,...,101041.0,65466361.0,147181.0,5.202687e+09,167886.0,1931017.0,12872362.0,38668684.0,7491275.0,9846346.0
3247039,1992.0,70192.0,12057433.0,12632507.0,57283.0,236598334.0,2116231.0,33568285.0,3574555.0,50078.0,...,105712.0,69788747.0,158577.0,5.470272e+09,169799.0,2039030.0,14433771.0,41760755.0,8074337.0,10641501.0
3266790,1991.0,67864.0,10745167.0,12228691.0,55434.0,230837072.0,2008383.0,33105763.0,3617631.0,48992.0,...,104807.0,68358820.0,154678.0,5.382641e+09,168701.0,2001982.0,13895851.0,40910959.0,7880466.0,10377815.0
3286542,1990.0,65712.0,10694796.0,11828638.0,53569.0,225923327.0,1900151.0,32637657.0,3556539.0,47818.0,...,103963.0,66912613.0,150882.0,5.293498e+09,168186.0,1964986.0,13375121.0,39877570.0,7686401.0,10113893.0

In [29]:
df.isnull().sum()

Date    0
ABW     0
AFG     0
AGO     0
ALB     0
       ..
XKX     0
YEM     0
ZAF     0
ZMB     0
ZWE     0
Length: 264, dtype: int64

In [34]:
media = df["COL"].mean()
mediana = df["COL"].median()
desviacion = df["COL"].std()
media

np.float64(33668811.984375)

In [36]:
media = df["COL"].mean()
mediana = df["COL"].median()
desviacion = df["COL"].std()
mediana

np.float64(33605833.5)

In [37]:
media = df["COL"].mean()
mediana = df["COL"].median()
desviacion = df["COL"].std()
desviacion

np.float64(11087020.779988494)

In [40]:
df[["Date","COL","CHN"]]

    Date       COL         CHN
0   1960  15687688   667070000
1   1961  16182414   660330000
2   1962  16691282   665770000
3   1963  17210956   682335000
4   1964  17739754   698355000
..   ...       ...         ...
59  2019  50187406  1407745000
60  2020  50930662  1411100000
61  2021  51516562  1412360000
62  2022  51874024  1412175000
63  2023  52085168  1410710000

[64 rows x 3 columns]

In [44]:
df["Nuevopais"]= df ["COL"] + 1000000
df.head()

,Date,ABW,AFG,AGO,ALB,AND,ARB,ARE,ARG,ARM,...,VUT,WLD,WSM,XKX,YEM,ZAF,ZMB,ZWE,nuevopais,Nuevopais
0,1960,54608,8622466,5357195,1608800,9443,93359407,133426,20349744,1904148,...,64608,3031517384,113335,990150,5542459,16520441,3119430,3806310,16687688,16687688
1,1961,55811,8790140,5441333,1659800,10216,95760348,140984,20680653,1971530,...,66462,3072470012,116820,1014211,5646668,16989464,3219451,3925952,17182414,17182414
2,1962,56682,8969047,5521400,1711319,11014,98268683,148877,21020359,2039346,...,68391,3126894230,120163,1038618,5753386,17503133,3323427,4049778,17691282,17691282
3,1963,57475,9157465,5599827,1762621,11839,100892507,157006,21364017,2106142,...,70400,3193470069,123416,1063175,5860197,18042215,3431381,4177931,18210956,18210956
4,1964,58178,9355514,5673199,1814135,12690,103618568,165305,21708487,2171029,...,72493,3260479625,126582,1087700,5973803,18603097,3542764,4310332,18739754,18739754

In [46]:
df = df.fillna(df.mean())